#cityName {
    width:90;
    text-align: center;
}
.container {
    margin: auto;
}
.weather {
    width: 90%;
    text-align: center;
}
ul > li {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
}
.forecast {
    background-color: lightblue;
    width: 100%;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}
.history {
    float: left;
    width: 10%;
}
#updateHistory:hover {
    cursor: pointer;
}