#cityName {
    width:90;
    text-align: center;
}
.container {
    margin: auto;
}
.weather {
    width: 90%;
    text-align: center;
}
ul > li {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
}
.forecast {
    background-color: lightblue;
    width: 100%;
}
.history {
    float: left;
    width: 10%;
}